<div style="margin-top: 30px; font-size: 24pt">Notifications</div>
<div *ngIf="(notifications$ | async)?.length==0" style="padding-left: 15px; padding-top: 25px">No new notifications.</div>
<div class="card-container">
  <mat-card *ngFor=" let notification of notifications$ | async">
    <mat-card-title>
      {{notification.title}}
    </mat-card-title>
    <div style="padding-left: 10px">
      {{notification.body}}
    </div>
    <mat-card-actions align="right">
      <button mat-raised-button color="warn" (click)="deleteNotification(notification.key, notification)">Dismiss</button>
    </mat-card-actions>
  </mat-card>
</div>