<div class="card-container">
    <mat-card *ngFor=" let pet of pets$ | async">
        <img mat-card-image [src]="pet.imgUrl" onerror="this.src='./assets/images/placeholder.png';" alt="Photo of your pet">
        <mat-card-content>
            <div style="padding-bottom: 3%">
                <div style="padding-left: 73%; position: absolute">
                    <button mat-button style="min-width: 10%" [routerLink]="['/pet-edit', pet.key]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <span>{{pet.name}}</span>
        </mat-card-content>
    </mat-card>
</div>
<button mat-fab [routerLink]="['/pet-edit/new']">
    <mat-icon>add</mat-icon>
</button>