button[mat-fab] {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.card-container {
    padding-top: 25px;
    display: flex;
    flex-flow: row wrap;
  }

mat-card {
    width: 350px;
    box-sizing: border-box;
    margin: 16px;
  }

  .form {
    display: flex;
  }

  img {
    text-align: center;
    display: block; 
    line-height: 230px;
  }
  
  .form mat-card {
    flex-grow: 1;
  }

  img{
    image-orientation: from-image;
    image-orientation: flip;
  }