<div class="card-container">
    <mat-card *ngFor=" let pet of pets$ | async">
        <img mat-card-image [src]="pet.imageUrl" onerror="this.src='./assets/images/placeholder.png';"
                alt="Photo of your pet">
        <mat-card-content fxLayoutAlign="space-between center">
            <span>{{pet.name}}</span>
            <button mat-button [routerLink]="['/pet-edit', pet.key]">Edit</button>
        </mat-card-content>
    </mat-card>
</div>
<button mat-fab [routerLink]="['/pet-edit/new']"><mat-icon>add</mat-icon></button>