img {
    text-align: center;
    display: block; 
    line-height: 230px;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 25px;
    float: left;
    height: 230px;
    width: 300px;
}

mat-card {
    width: 700px;
    box-sizing: border-box;
    margin: 15px;
}

.medication-text{
    font-size: 15px;
}

.input-photo {
    clear: left;
    display: block;
}

