<mat-card *ngIf="pet$ | async as pet">
    <mat-card-title>Edit Your Pet</mat-card-title>
    <img id="img1" [src]="pet.imageUrl" onerror="this.src='./assets/images/placeholder.png';" 
        alt="Select a picture for your pet">
    <mat-form-field>
        <input matInput placeholder="Enter your pet's name" [formControl]="name" required [(ngModel)]="pet.name">
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <span class="input-photo">
        <input type="file" (change)="uploadImage($event, pet)">
    </span>
    <mat-card-actions align="right">
        <button mat-button [disabled]="finished()" (click)="savePet(pet)">
            <span>{{isNewPet ? "Save" : "Save Changes"}}</span>
        </button>
        <button mat-button (click)="cancel()">Cancel</button>
        <button *ngIf="!isNewPet" mat-button (click)="petRemoveDialog()">Delete</button>
    </mat-card-actions>

</mat-card>
