<mat-card [formGroup]="myForm" *ngIf="pet$ | async as pet">
    <mat-card-title>
        Edit Your Pet
    </mat-card-title>

    <div>
        <img id="img1" [src]="pet.imageUrl" onerror="this.src='./assets/images/placeholder.png';" alt="Select a picture for your pet">

        <mat-form-field>
            <input matInput placeholder="Enter your pet's name" [formControl]="this.myForm.controls['name']" required pattern [(ngModel)]="pet.name">
            <mat-error>{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div>
        <span class="input-photo">
            <input type="file" (change)="uploadImage($event, pet)">
        </span>
    </div>
    <br>
    <br>
    <hr>
    <br>

    <div>
        <span style="font-size: 16pt; float: left; margin-top: 5px;">
            Medications &nbsp;&nbsp;
        </span>
        <button mat-raised-button color="primary" (click)="addMed(pet)">Add</button>
    </div>
    <br>
    <mat-accordion formArrayName="medications">
        <mat-expansion-panel *ngFor="let med of pet.meds; let i=index">
            <mat-expansion-panel-header>
                <div class="container-parent" [id]="i">
                    <mat-form-field class="expansion-title" floatPlaceholder="never">
                        <input (click)="disableExtension($event)" (keydown.space)="disableExtension($event)" (keyup.space)="disableExtension($event)"
                            matInput placeholder="Medication Name" [formControlName]="i" required pattern [(ngModel)]="med.name">
                    </mat-form-field>
                </div>
                <div style="padding: 18px 0 0 18px">
                    <mat-error>{{getMedErrorMessage(i)}}</mat-error>
                </div>
            </mat-expansion-panel-header>
            <mat-form-field>
                <input matInput type="number" min="1" placeholder="Dosage">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="number" min="1" placeholder="Frequency">
            </mat-form-field>
            <br>
            <mat-form-field style="width: 100%">
                <textarea matInput type="textarea" placeholder="Additional Info"></textarea>
            </mat-form-field>
            <mat-action-row align="right" style="padding-right: 15px">
                <button mat-raised-button color="warn" (click)="removeMed(pet, i)">Remove</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
    <br>

    <mat-card-actions align="right">
        <button mat-raised-button color="primary" [disabled]="finished()" (click)="savePet(pet)">
            <span>{{isNewPet ? "Save" : "Save Changes"}}</span>
        </button>
        <button mat-raised-button [disabled]="imageUploading" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="warn" *ngIf="!isNewPet" (click)="removePet()">Remove</button>
    </mat-card-actions>
</mat-card>