<mat-toolbar color='primary'>
  <div fxLayoutAlign="space-between center" class="nav-buttons">
    <span style="cursor: pointer" (click)="onClick()">ARC</span>
    <div *ngIf="!(authService.user$ | async)?.uid">
      <button mat-raised-button style="font-size: 14pt" color="accent" (click)="authService.login()">Login</button>
    </div>
    <div *ngIf="(authService.user$ | async)?.uid">
      <span *ngIf="(authService.user$ | async)?.roles.admin">
        <button mat-button style="font-size: 14pt; margin-right: 5px" [routerLink]="['/admin']">Admin</button>
      </span>
      <button mat-button style="font-size: 14pt; margin-right: 20px" [routerLink]="['/pet-list']">Pets</button>
      <button mat-button style="min-width: 10%" [routerLink]="['/notification']">
        <span *ngIf="(notiService.notifications | async)?.length != 0" class="icon material-icons mdl-badge" [attr.data-badge]="(notiService.notifications | async)?.length">notifications</span>
        <mat-icon *ngIf="(notiService.notifications | async)?.length == 0" style="padding-bottom: 5px">notifications</mat-icon>
      </button>
      <span style="font-size: 14pt; margin-left: 5px">Welcome, {{(authService.user$ | async)?.displayName.split(' ')[0]}}</span> &nbsp;&nbsp;
      <button mat-raised-button style="font-size: 14pt" color="accent" (click)="logoutDialog()">Logout</button>
    </div>
  </div>
</mat-toolbar>
<div>
  <div fxFlexOffset.gt-sm="3%">
    <router-outlet></router-outlet>
  </div>
</div>